secure/nodered/flows.json
[{"id":"flow1","type":"tab","label":"IoT Secure Pipeline","disabled":false},{"id":"mqtt-broker-secure","type":"mqtt-broker","name":"Secure MQTT Broker","broker":"172.22.0.20","port":"8884","clientid":"nodered-secure","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"influxdb-secure","type":"influxdb","hostname":"172.22.0.30","port":"8086","protocol":"http","database":"sensors","name":"Secure InfluxDB","usetls":false,"influxdbVersion":"2.0","url":"http://172.22.0.30:8086","rejectUnauthorized":false},{"id":"mqtt-in-1","type":"mqtt in","z":"flow1","name":"Subscribe ALL Topics","topic":"sensors/#","qos":"1","datatype":"auto","broker":"mqtt-broker-secure","nl":false,"rap":false,"inputs":0,"x":100,"y":200,"wires":[["json-1"]]},{"id":"json-1","type":"json","z":"flow1","name":"Parse JSON Payload","property":"payload","action":"obj","pretty":false,"x":300,"y":200,"wires":[["switch-1","39be6e10b63d0f36"]]},{"id":"switch-1","type":"switch","z":"flow1","name":"Route by Topic","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"temperature","vt":"str"},{"t":"cont","v":"humidity","vt":"str"},{"t":"cont","v":"power","vt":"str"},{"t":"cont","v":"door","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":500,"y":200,"wires":[["func-temp"],["func-humidity"],["func-power"],["func-door"],["debug-1"]]},{"id":"func-temp","type":"function","z":"flow1","name":"Build Temperature Point","func":"msg.measurement = 'temperature';\nmsg.payload = [\n    {value: msg.payload.value, unit: msg.payload.unit},\n    {device_id: msg.payload.device_id, firmware: msg.payload.firmware}\n];\nreturn msg;","outputs":1,"x":720,"y":100,"wires":[["influx-out"]]},{"id":"func-humidity","type":"function","z":"flow1","name":"Build Humidity Point","func":"msg.measurement = 'humidity';\nmsg.payload = [\n    {value: msg.payload.value},\n    {device_id: msg.payload.device_id, firmware: msg.payload.firmware}\n];\nreturn msg;","outputs":1,"x":720,"y":160,"wires":[["influx-out"]]},{"id":"func-power","type":"function","z":"flow1","name":"Build Power Point","func":"msg.measurement = 'power';\nmsg.payload = [\n    {power_w: msg.payload.power_w, voltage_v: msg.payload.voltage_v, current_a: msg.payload.current_a, plug_on: msg.payload.plug_on ? 1 : 0},\n    {device_id: msg.payload.device_id, firmware: msg.payload.firmware}\n];\nreturn msg;","outputs":1,"x":720,"y":220,"wires":[["influx-out"]]},{"id":"func-door","type":"function","z":"flow1","name":"Build Door Point","func":"msg.measurement = 'door_state';\nmsg.payload = [\n    {state_numeric: msg.payload.state === 'open' ? 1 : 0, state: msg.payload.state},\n    {device_id: msg.payload.device_id, firmware: msg.payload.firmware}\n];\nreturn msg;","outputs":1,"x":720,"y":280,"wires":[["influx-out"]]},{"id":"influx-out","type":"influxdb out","z":"flow1","influxdb":"influxdb-secure","name":"Write to InfluxDB","measurement":"","precision":"ms","retentionPolicy":"","database":"sensors","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"iot-cyberrange","bucket":"sensors","x":950,"y":200,"wires":[]},{"id":"debug-1","type":"debug","z":"flow1","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":360,"wires":[]},{"id":"39be6e10b63d0f36","type":"debug","z":"flow1","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":420,"wires":[]}]